.date-chip {
  border-radius: 20px;
  font-size: 0.925rem;
  background-color: #5292a7;
  display: inline-block;
  margin: 8px 8px;
  padding: 3px 10px;
  color: #fff;
  cursor: pointer;
  &.date-chip-selected {
    background-color: #3b6978;
    border: 2px solid #008040;
  }
  &.date-chip-disabled {
    background-color: #afced8;
    cursor: auto;
    pointer-events: none;
  }
}
