.text-count {
  font-size: 1.35rem;
}

.text-color-light-grey {
  color: #c5c5c5;
}

.text-size-medium {
  font-size: 0.825rem;
}
.text-size-lesser {
  font-size: 0.925rem;
}
.text-size-small {
  font-size: 0.795rem;
}

/* text colors */

.text-red {
  color: #ff0000;
}
.text-grey,
.text-color-deaths {
  color: #575757;
}

.text-color-active {
  color: #f34901;
}
.text-green,
.text-color-recoveries {
  color: #00cc00;
}
